<style>
*{
  box-sizing: border-box;
  margin: 0;

}
  h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
#list_number{
  text-align: center;
}
.container{
  padding-top: 15px;
  margin:auto;
  }
}
</style>
